@import "../scss/main.scss";

.event-page {
  &__guest {
    width: 100%;
    margin: 10px 0;
    background: $eventInfoBg;
    box-shadow: 0px 0px 3px 1px $shadowColor;
    color: $textColor;
    border-left: 10px solid;
    border-image: $mainGradient;
    border-image-slice: 1;
    padding: 10px;
    word-wrap: break-word;
    font-family: "Vollkorn", serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaDesktop {
      font-size: 17px;
    }

    @include mediaMax {
      font-size: 18px;
    }

    &-title {
      width: 75%;
      word-break: break-word;
      padding: 0 5px;
    }
  }
}
