@import "../scss/main.scss";

.event-page {
  &__information {
    width: 100%;
    font-family: "Vollkorn", serif;
    font-size: 18px;

    @include mediaTablet {
      font-size: 20px;
    }

    @include mediaMax {
      height: 25%;
    }

    &-content {
      width: 100%;
      min-height: calc(100% - 1.5rem);
      border: 2px solid $borderColor;
      border-top: none;

      @include mediaDesktop {
        min-height: calc(100% - 2rem);
      }
    }

    &-form {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include mediaHeader {
        flex-direction: row;
      }

      @include mediaMax {
        height: 100%;
        overflow-y: auto;
      }

      input,
      textarea {
        margin: 10px 0;
        width: 90%;
        font-size: 15px;
        font-family: "Bungee", cursive;

        @include mediaHeader {
          width: 70%;
        }

        @include mediaDesktop {
          margin: 15px 0;
          font-size: 17px;
        }

        @include mediaMax {
          width: 90%;
        }
      }

      textarea {
        width: 90%;
        padding: 5px 0;
        border: none;
        border-bottom: 2px solid $borderColor;
        resize: none;
      }

      h5 {
        width: 90%;
        padding: 2px 0;
        font-family: "Bungee", cursive;
        color: $textColor;
        font-size: 15px;
        letter-spacing: 0.02em;
        line-height: 22px;
        margin: 10px 0;

        @include mediaTablet {
          width: 100%;
        }

        @include mediaDesktop {
          font-size: 17px;
          margin: 15px 0;
        }
      }
    }

    &-column {
      width: 100%;

      @include mediaDesktop {
        width: 50%;
      }
    }

    &-title {
      width: 100%;
      display: flex;
      align-items: center;

      h3 {
        font-family: "Bungee", cursive;
        margin-right: 12px;
        color: $btnColorHover;
        font-size: 16px;

        @include mediaDesktop {
          font-size: 18px;
        }
      }

      button {
        border: none;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
