@import "../scss/main.scss";

.event-page {
  &__task {
    width: 100%;
    margin: 10px 0;
    background: $eventInfoBg;
    box-shadow: 0px 0px 3px 1px $shadowColor;
    color: $textColor;
    border-left: 10px solid;
    border-image: $eventBg;
    border-image-slice: 1;
    padding: 10px;
    word-wrap: break-word;
    font-family: "Vollkorn", serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;

    @include mediaHeader {
      font-size: 18px;
    }

    &--inActive {
      border-left: 10px solid;
      border-image: $mainGradient;
      border-image-slice: 1;
      .event-page__task-info,
      .event-page__task-cost {
        text-decoration: line-through;
      }
    }

    &-info {
      width: 75%;

      @include mediaTablet {
        width: 78%;
      }

      @include mediaHeader {
        width: 85%;
        display: flex;
        align-items: center;
      }
    }

    &-name,
    &-description {
      padding: 5px;
    }

    &-name {
      font-weight: 800;
      font-size: 16px;

      @include mediaHeader {
        width: 40%;
      }

      @include mediaDesktop {
        font-size: 17px;
        width: 35%;
      }

      @include mediaMax {
        font-size: 18px;
      }
    }

    &-description {
      font-size: 16px;
      @include mediaHeader {
        width: 60%;
      }

      @include mediaDesktop {
        width: 65%;
      }

      @include mediaMax {
        font-size: 17px;
      }
    }

    &-actions {
      width: 25%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include mediaTablet {
        width: 22%;
      }

      @include mediaHeader {
        width: 15%;
      }

      span {
        font-size: 22px;
        padding: 5px;
        cursor: pointer;

        @include mediaDesktop {
          font-size: 24px;
        }
      }
    }
  }
}
