@import "../scss/main";

body {
  background-color: $bgColor;
  font-family: 'Vollkorn', serif;
}

.app-container {
  max-width: 1366px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $blackColor;

  &:focus {
    outline: none;
  }
}