@import "../scss/main.scss";

.home-page {
  &__event {
    margin-top: 20px;
    background: $eventInfoBg;
    box-shadow: 0px 0px 8px 2px $shadowColor;
    border-left: 12px solid;
    border-image: $mainGradient;
    border-image-slice: 1;
    color: $textColor;
    width: 100%;
    min-height: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Bungee", cursive;
    padding: 0 12px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;

    &:hover {
      .home-page__event-actions {
        transform: translateX(0) !important;
      }
    }
  }

  &__event-name,
  &__event-place,
  &__event-date,
  &__event-guests,
  &__event-actions {
    word-wrap: break-word;
    padding: 12px 0;
  }

  &__event-label {
    color: $btnColorHover;
  }

  &__event-name {
    width: 45%;

    @include mediaHeader {
      width: 40%;
    }

    @include mediaDesktop {
      font-size: 20px;
    }

    @include mediaMax {
      width: 30%;
      font-size: 22px;
    }
  }

  &__event-place {
    display: block;
    width: 40%;

    @include mediaHeader {
      width: 30%;
    }
  }

  &__event-date {
    display: none;

    @include mediaHeader {
      display: block;
      width: 20%;
    }

    @include mediaMax {
      width: 15%;
    }
  }

  &__event-guests {
    display: none;

    @include mediaMax {
      display: block;
      width: 15%;
      text-align: center;
    }
  }

  &__event-actions {
    width: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: $eventInfoActionsBg;
    border-left: 2px solid $shadowColor;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
    line-height: normal;

    @include mediaTablet {
      width: 40%;
    }

    @include mediaHeader {
      width: 30%;
    }

    @include mediaDesktop {
      width: 30%;
    }

    @include mediaMax {
      width: 20%;
    }

    &--hide {
      transform: translateX(100%);
    }

    &-box {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      a {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $textColor;
        cursor: default;
      }
    }

    &-link {
      width: 90%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin: 4px 0;
      background-color: $btnTextColor;
      border: 0.5px solid $btnColorHover;
      border-radius: 20px;
      padding: 8px 0;
      color: $textColor;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border-color 0.3s ease-in-out, font-size 0.3s ease-in-out;

      @include mediaTablet {
        width: 85%;
        font-size: 14px;
      }

      @include mediaDesktop {
        width: 75%;
      }

      &:hover {
        background-color: $eventInfoBg;
        color: $btnColorHover;
        border-color: $btnColorHover;
        font-size: 12.5px;

        @include mediaTablet {
          font-size: 14.5px;
        }
      }
    }

    &-icon {
      font-size: 14px;
      margin-right: 4px;
      cursor: pointer;

      @include mediaTablet {
        font-size: 16px;
        margin-right: 5px;
      }

      @include mediaMax {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }

  &__archive {
    border-left: 12px solid;
    border-image: $eventBg;
    border-image-slice: 1;
  }
}
