@import "../scss/main.scss";

.event-page {
  &__tasks {
    width: 100%;
    font-family: "Vollkorn", serif;
    font-size: 18px;
    margin-top: 20px;

    @include mediaMax {
      height: 71%;
      margin-top: 2%;
    }

    &-header {
      width: 100%;
      padding: 20px 20px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: calc(100% - 1.5rem);
      border: 2px solid $borderColor;
      border-top: none;

      @include mediaDesktop {
        min-height: calc(100% - 2rem);
      }

      @include mediaMax {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      button {
        padding: 5px 10px;
        font-family: "Bungee", cursive;
        font-size: 14px;

        @include mediaTablet {
          font-size: 16px;
        }
      }
    }

    &-list {
      padding: 0 20px 10px;

      &-title {
        font-family: "Bungee", cursive;
        font-size: 16px;
        color: $btnColorHover;

        @include mediaDesktop {
          font-size: 18px;
        }
      }

      &-small-title {
        font-family: "Bungee", cursive;
        font-size: 14px;
        color: $textColor;
        margin-bottom: 10px;

        @include mediaTablet {
          font-size: 16px;
        }
      }
    }
  }
}
