@import "../scss/main";

.button {
  font-family: "Bungee", cursive;
  font-size: 16px;
  padding: 11px;
  margin: 5px 0;
  background: $mainGradient;
  border: none;
  color: $btnTextColor;
  border-radius: 8px;
  border: 1px solid $borderColor;
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -webkit-transition: color 1s ease-out, border 1s ease-out;
  -moz-transition: color 1s ease-out, border 1s ease-out;
  -o-transition: color 1s ease-out, border 1s ease-out;
  transition: color 1s ease-out, border 1s ease-out;

  &:hover {
    background: $btnTextColor;
    color: $btnColorHover;
    border-color: $btnColorHover;
    -webkit-transition: color 1s ease-out, border 1s ease-out;
    -moz-transition: color 1s ease-out, border 1s ease-out;
    -o-transition: color 1s ease-out, border 1s ease-out;
    transition: color 1s ease-out, border 1s ease-out;

    @include mediaDesktop {
      .button__text {
        opacity: 1;
      }
    }
  }

  @include mediaTablet {
    font-size: 16px;
    padding: 12px;
  }

  @include mediaDesktop {
    font-size: 18px;
    padding: 14px 16px;
  }

  &__icon {
    margin-right: 0;
    font-size: 18px;

    &--static {
      margin-right: 5px;
    }

    &::before {
      font-size: 20px;
    }

    @include mediaDesktop {
      margin-right: 10px;
      font-size: 20px;

      &::before {
        font-size: 24px;
      }
    }
  }

  &__text {
    display: inline-block;
    opacity: 0;

    &--static {
      opacity: 1;
    }
  }
}
