@import "../scss/main.scss";

.eventPage {
    width: 100%;

    @include mediaMax {
        display: flex;
        height: 100%;
    }

    .eventPage__leftContent, .eventPage__rightContent {
        width: 100%;
    }

    .eventPage__rightContent {
        @include mediaDesktop {
            display: flex;
            align-items: flex-start;
        }

        @include mediaMax {
            display: block;
        }
    }

    @include mediaMax {
        .eventPage__leftContent {
            width: 62%;
            margin-right: 2%;
        }

        .eventPage__rightContent {
            width: 36%;
        }
    }

    .eventPage__content {
        background: $whiteColor;
        border: 1px solid $borderColor;
        border-radius: 5px 5px 0 0;
        box-shadow: 1px 1px 4px 0 $shadowColor;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        .eventPage__bar {
            width: 100%;
            height: 1.5em;
            background: $mainGradient;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px inset $borderColor;
        }

        input {
            outline: none;
            border: none;
            color: $textColor;
            padding: 5px 0;
            border-bottom: 2px solid $borderColor;

            &:focus {
                border-color: $textColor;
            }
        }
    }
}