@import "../scss/main.scss";

.event-page {
  width: 100%;

  @include mediaMax {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &-title {
      width: 100%;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Bungee", cursive;
        font-size: 18px;
        line-height: 22px;

        @include mediaDesktop {
          font-size: 20px;
          line-height: 24px;
        }

        @include mediaMax {
          font-size: 22px;
          line-height: 26px;
        }
      }

      &-icon {
        font-size: 24px;
        margin: 0 10px;
        cursor: pointer;

        @include mediaDesktop {
          margin: 0 15px;
        }
      }
    }

    &-input {
      width: 100%;
      font-family: "Bungee", cursive;
      font-size: 18px;
      line-height: 22px;
      border: none;
      outline: none;
      border-bottom: 2px solid $borderColor;
      padding: 5px 0;

      &--error {
        border-color: $redColor;
      }

      &:focus {
        border-color: $textColor;
      }

      @include mediaDesktop {
        font-size: 20px;
        line-height: 24px;
      }

      @include mediaMax {
        font-size: 22px;
        line-height: 26px;
      }
    }

    &-icons {
      display: flex;

      .button:first-child {
        margin-right: 5px;

        @include mediaDesktop {
          margin-right: 10px;
        }

        @include mediaMax {
          margin-right: 15px;
        }
      }
    }
  }

  &__main-content {
    width: 100%;

    @include mediaMax {
      flex-grow: 1;
      display: flex;
    }
  }

  &__left-content,
  &__right-content {
    width: 100%;
  }

  &__right-content {
    @include mediaDesktop {
      display: flex;
      align-items: flex-start;
    }

    @include mediaMax {
      display: block;
      width: 36%;
    }
  }

  &__left-content {
    @include mediaMax {
      width: 62%;
      margin-right: 2%;
    }
  }

  &__content {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    input {
      outline: none;
      border: none;
      color: $textColor;
      padding: 5px 0;
      border-bottom: 2px solid $borderColor;

      &:focus {
        border-color: $textColor;
      }
    }
  }

  &__bar {
    width: 100%;
    height: 1.5em;
    background: $eventBarBg;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: left;

    @include mediaDesktop {
      height: 1.95em;
    }
  }
}
